.barra{
  display: flex;
  flex-direction: column;
  @include tablet{
    flex-direction: row;
    padding-top: 2.5rem;
    justify-content: space-between;
  }
}

.navegacion{
  @include tablet{
    display: flex;
    align-items: center;
  }
  
  a{
    color: $blanco;
    text-decoration: none;
    font-size: 1.8rem;
    display: block;
    text-align: center;

    @include tablet{
      margin-right: 1rem;
    }
    &:last-of-type{
      margin-right: 0;
    }
  }
}